.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46vh;
  width: 48vh;
  font-family: 'Segoe UI; Tahoma; Geneva; Verdana; sans-serif;'
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: '0 8px 24px rgba(0; 0; 0; 0.1)';
  width: 100%;
  max-width: 400px;
}

.title {
  margin: 0 0 8px 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.subtitle {
  margin: 0 0 24px 0;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
  display: contents;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.logInForm {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: '0 8px 24px rgba(0; 0; 0; 0.1)';
  width: 100%;
  max-width: 400px;
}

.emailLabel {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  align-content: end;
  width: 120px;
}

.signUpList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loggedIn {
  margin-left: auto;
}

.emailInput {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s;
}

.passwordLabel {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  align-content: end;
  width: 120px;
}

.passwordInput {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s;
}

.signInButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.logInInputGroup {
  margin-bottom: 20px;
  display: flex;
}

.signupText {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #666;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  vertical-align: super;
  font-size: large;
}

.signUpAppleLink {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  vertical-align: super;
  font-size: large;
}

.signUpGoogleLink {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  vertical-align: super;
  font-size: large;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: fixed;
  /* Optional: pins to top */
  top: 0;
  width: 100%;
}

.logo-container {
  padding: 12px;
}

.logo {
  height: 35px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  font-size: 25pt;
}

.product-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 48vh;
  font-family: 'Segoe UI; Tahoma; Geneva; Verdana; sans-serif;';
  background-color: #fff;
  border-radius: 12px;
  box-shadow: '0 8px 24px rgba(0; 0; 0; 0.1)';
  width: 95%;
}

.productText {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.product-list {
  list-style-type: none;
  padding: 0;
  color: #666;
}

.chat-iframe {
  border: none;
  height: 50vh;
  margin-top: 20px;
  height: 100%;
  min-height: 550px;
  display: none;
}